body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.cards {
    display: flex;
}
.card { /* para que no se desarmen damos 50% flex*/
    flex: 50%;
    margin: 10px;
    border: 2px solid black;
    display: flex; /*acomodamos el footer*/
    flex-direction: column;
}
.card .content { /*para que se alinie ek segundo footer*/
    flex-grow: 1;
    flex-shrink: 1;
}
.card .footer {
    background-color: grey;
    padding: 10px;
}